- title = s_('ProfilesAuthentication|Password and authentication')
- breadcrumb_title title
- page_title title
- troubleshooting_link = link_to _('Try the troubleshooting steps here.'), help_page_path('user/profile/account/two_factor_authentication_troubleshooting.md'), target: '_blank', rel: 'noopener noreferrer'

- content_for :after_flash_content do
  .flash-container.flash-container-page.sticky
    - if @error
      = render Pajamas::AlertComponent.new(title: @error[:message],
        variant: :danger,
        dismissible: false) do |c|
        - c.with_body do
          = troubleshooting_link

    = render 'profiles/accounts/two_factor_enabled_alert'

= render ::Layouts::PageHeadingComponent.new(s_('ProfilesAuthentication|Manage authentication')) do |c|
  - c.with_description do
    - unless current_user.allow_passkey_authentication?
      - learn_more_link = link_to('', help_page_path('administration/settings/sign_in_restrictions.md', anchor: 'password-and-passkey-authentication'), target: '_blank', rel: 'noreferrer')
      %span.gl-text-warning= sprite_icon('warning')
      = safe_format(s_('ProfilesAuthentication|Password and passkey sign-in have been restricted for your account. %{link_start}Learn more%{link_end}.'), tag_pair(learn_more_link, :link_start, :link_end))

= render ::Layouts::SettingsSectionComponent.new(_('Password'), options: { class: '-gl-mb-[2rem]' }) do |c|
  - c.with_description do
    .gl-flex.gl-flex-wrap.gl-gap-3.gl-justify-between.gl-items-center.gl-mt-2
      %div
        - learn_more_link = link_to('', help_page_path('user/profile/user_passwords.md', anchor: 'password-requirements'),  target: '_blank', rel: 'noreferrer')
        = safe_format(s_('ProfilesAuthentication|All passwords must meet %{link_start}password requirements%{link_end}.'), tag_pair(learn_more_link, :link_start, :link_end))
      - if current_user.allow_password_authentication?
        .gl-w-full{ class: "@sm/panel:gl-w-auto" }
          = render Pajamas::ButtonComponent.new(variant: :default, href: edit_user_settings_password_path, button_options: { data: { testid: 'change-password-button' }}) do
            = s_('ProfilesAuthentication|Change password')

= render ::Layouts::SettingsSectionComponent.new(s_("ProfilesAuthentication|Passkeys sign-in")) do |c|
  - c.with_description do
    %div
      - learn_more_link = link_to('', help_page_path('auth/passkeys.md'), target: '_blank', rel: 'noreferrer')
      = safe_format(s_("ProfilesAuthentication|Passkeys allow you to sign in securely with your device instead of a password. %{link_start}Learn more about passkeys%{link_end}."), tag_pair(learn_more_link, :link_start, :link_end))
  - c.with_body do
    %p
      %span.gl-font-bold
        = _('Status:')
      - passkey_status = current_user.allow_passkey_authentication? && @passkeys.present? ? _('Active') : _('Inactive')
      = passkey_status
    = render 'passkeys'

- if display_providers_on_profile?
  = render ::Layouts::SettingsSectionComponent.new(s_('ProfilesAuthentication|Service sign-in')) do |c|
    - c.with_description do
      %div
        = s_('ProfilesAuthentication|Connect a service for sign-in.')
    - c.with_body do
      = render 'providers', providers: button_based_providers, group_saml_identities: local_assigns[:group_saml_identities]

= render ::Layouts::SettingsSectionComponent.new(s_('ProfilesAuthentication|Two-factor authentication (2FA)')) do |c|
  - c.with_description do
    .gl-flex.gl-flex-wrap.gl-gap-3.gl-justify-between.gl-items-center.gl-mt-2
      %div
        - if current_user.allow_passkey_authentication?
          = s_('ProfilesAuthentication|Enable additional security methods for two-factor authentication. Once enabled, you can also use your passkeys for 2FA.')
        - else
          = s_('ProfilesAuthentication|Enable additional security methods for two-factor authentication.')
      - if current_user.two_factor_enabled?
        .gl-w-full{ class: "@sm/panel:gl-w-auto" }
          .js-two-factor-action-confirm{ data: disable_two_factor_authentication_data(current_password_required?, current_user.allow_passkey_authentication? && @passkeys.present?) }
    - if current_user.allow_passkey_authentication? && !current_user.two_factor_enabled? && @passkeys.present?
      = render Pajamas::AlertComponent.new(dismissible: false, alert_options: { class: 'gl-mt-5' }) do |c|
        - c.with_body do
          = s_('ProfilesAuthentication|To use passkeys as your default two-factor authentication, please register at least one backup 2FA method first below.')
  - c.with_body do
    %p
      %span.gl-font-bold
        = _('Status:')
      #{current_user.two_factor_enabled? ? _('Active') : _('Inactive')}
    = render 'default_2fa_method'
    = render 'otp_registration', {troubleshooting_link: troubleshooting_link}
    = render 'webauthn_registration'
    = render 'passkeys_2fa'
    - if current_user.two_factor_enabled?
      = render 'recovery_codes'

- if Gitlab::CurrentSettings.email_otp_enabled?
  #email-otp-settings
    = render ::Layouts::SettingsSectionComponent.new(s_("Profiles|Email one-time password (email OTP)")) do |c|
      - c.with_description do
        = s_("Profiles|Automatically sends a verification code to your primary email address during sign-in.")
      - c.with_body do
        #js-email-otp-action-confirm{ data: email_otp_enrollment_restriction_confirm_data(current_user) }
