= gitlab_ui_form_for @application_setting, url: general_admin_application_settings_path(anchor: 'js-merge-requests-settings'), html: { class: 'fieldset-form', id: 'merge-requests-settings' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      = f.gitlab_ui_checkbox_component :require_sha_for_merge,
        _('Require commit SHA on merge API'),
        help_text: _('When configured, a valid commit SHA must be provided when calling the merge request merge API.')
      .gl-pl-6
        = f.gitlab_ui_checkbox_component :lock_require_sha_for_merge do |c|
          - c.with_label do
            = sprite_icon('lock', css_class: 'gl-align-middle gl-mr-1')
            = s_('CascadingSettings|Enforce this setting for all groups on this instance.')
  = f.submit _('Save changes'), pajamas_button: true
