.paneled-view.static-panel.js-static-panel.js-paneled-view.content-wrapper{ @html_options }
  .panel-header
    .panel-header-inner.js-panel-header-inner{ class: panel_header_bar_classes }
      = header
      .panel-header-inner-actions
        = actions
        .panel-header-inner-actions-portal-target.js-panel-actions-portal-target
  .panel-content
    .panel-content-inner.js-static-panel-inner
      = before_body
      %div{ @container_options }
        %main#content-body.content.gl-pb-3{ **@main_options, class: "gl-@container/panel" }
          = body
      = after_body
    = footer
