.layout-page.js-page-layout{ class: page_with_sidebar_class }
  -# this is required to exactly match the main container width to the viewport inner width, which includes scrollbar
  = javascript_tag do
    :plain
      const outer = document.createElement('div');
      outer.style.visibility = 'hidden';
      outer.style.overflow = 'scroll';
      document.body.appendChild(outer);
      const inner = document.createElement('div');
      outer.appendChild(inner);
      const scrollbarWidth = outer.offsetWidth - inner.offsetWidth;
      outer.parentNode.removeChild(outer);
      document.documentElement.style.setProperty('--scrollbar-width', `${scrollbarWidth}px`);
  -# Render the parent group sidebar while creating a new subgroup/project, see GroupsController#new.
  - group = @parent_group || @group
  - context = group || @project
  - alert_class = "container-limited" unless fluid_layout

  - sidebar_panel = super_sidebar_nav_panel(nav: nav, user: current_user, group: group, project: @project, current_ref: current_ref, ref_type: @ref_type, viewed_user: @user, organization: @organization)
  - sidebar_data = super_sidebar_context(current_user, group: group, project: @project, panel: sidebar_panel, panel_type: nav).to_json
  %aside.js-super-sidebar.super-sidebar.super-sidebar-loading{ class: super_sidebar_loading_state_class, data: { sidebar: sidebar_data, command_palette: command_palette_data(project: @project, current_ref: current_ref).to_json, is_saas: Gitlab.com?.to_s } }

  = render_if_exists "layouts/session_expire_modal"

  .broadcast-wrapper.gl-rounded-lg.gl-overflow-hidden
    = dispensable_render_if_exists "shared/token_expiration_banner"
    = dispensable_render "layouts/broadcast" unless content_for(:hide_broadcast_messages).present?

  .panels-container.gl-flex.gl-gap-3
    .content-panels.gl-flex-1.gl-w-full.gl-flex.gl-gap-3.gl-relative.js-content-panels{ class: 'gl-@container/content-panels' }
      -# For clarity:
      -#   @content_wrapper_class: custom page-specific classes, like `gl-relative`
      -#   container_class       : fixed/fluid layout classes, like `container-fluid container-limited`
      -#   @content_class        : custom page-specific classes, like `limit-container-width`
      = render ::Layouts::StaticPanelComponent.new(html_options: { class: @content_wrapper_class },
          container_options: { class: "#{container_class unless @no_container} #{@content_class}" },
          main_options: page_itemtype,
          page_breadcrumbs_in_top_bar_feature_flag: !@force_show_panel_header && Feature.enabled?(:page_breadcrumbs_in_top_bar, current_user)) do |c|

        - c.with_header do
          = render "layouts/nav/breadcrumbs/breadcrumbs"

        - c.with_actions do
          = yield :static_panel_actions

        - c.with_before_body do
          = render 'layouts/alerts', alert_class: alert_class, context: context

        - c.with_body do
          -# mount drawers here for better page performance
          #js-drawer-container
          -# Sticky alerts
          = render "layouts/flash" unless @hide_flash
          = yield :after_flash_content
          = yield :before_content
          = yield

        - c.with_after_body do
          = yield :after_content

        - c.with_footer do
          -# This is needed by [GitLab JH](https://gitlab.com/gitlab-jh/jh-team/gitlab-cn/-/issues/81)
          = render_if_exists "shared/footer/global_footer"

      #contextual-panel-portal.paneled-view-portal{
        class: 'gl-@container/panel !gl-absolute gl-shadow-lg gl-bg-default @xl/content-panels:gl-w-1/2 @xl/content-panels:gl-shadow-none @xl/content-panels:!gl-relative @xl/content-panels:gl-bg-transparent gl-right-0'
      }

  = dispensable_render_if_exists 'layouts/duo_chat_panel'
