%head
  = universal_stylesheet_link_tag "fonts"
  - if params[:lookbook][:display][:theme] == "light"
    = universal_stylesheet_link_tag "application"
  - else
    = universal_stylesheet_link_tag "application_dark"
  = universal_stylesheet_link_tag 'tailwind'

%body
  .gl-mt-6{ class: (params[:lookbook][:display][:layout] == "fluid" ? "container-fluid" : "container") }
    - if params[:lookbook][:display][:bg_dark]
      %div{ class: "!gl-bg-strong !gl-rounded-base !gl-shadow-md !gl-p-6" }
        = yield
    - else
      = yield
